<a href="https://colab.research.google.com/github/sugatoray/stackoverflow/blob/master/src/answers/Q_69321580/Q_69321580.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stackoverflow Question: [69321580][#Q]

[#Q]: https://stackoverflow.com/questions/69321580/jinja-table-when-column-value-then-add-div-to-specific-column/69321665#69321665

In [ ]:
src/notebooks/jinja2_python_notebook.ipynb

In [ ]:
import string
from typing import List

import numpy as np
import pandas as pd
from jinja2 import Template

def make_row(letter:str, ncols: int=5) -> List[str]:
    return [ f'{letter}{str(i).zfill(len(str(ncols)))}' for i in range(ncols) ]

def make_data(nrows: int=5, ncols: int=6) -> pd.DataFrame:
    data = []
    # nrows = 5
    # ncols = 6
    columns = list(string.ascii_uppercase[0:ncols])
    rowlabels = list(string.ascii_uppercase[0:nrows])
    for letter in rowlabels:
        data.append(make_row(letter=letter, ncols=ncols-1))

    data = np.array(data)
    data = np.hstack([data, np.random.randint(0,2,nrows).reshape((nrows,1))])

    df = pd.DataFrame(data, columns=columns)

    return df

In [ ]:
%%writefile template.html
<table>
    <thead>

        <tr>
        {% for col in column_names %}
        <th>
        
            {{col}}
            
        </th>
        {% endfor %}
        </tr>

    </thead>
    <tbody>
        {% for row in row_data %}
        <tr>
        {% for col, row_ in zip(column_names, row) %}

        {% if loop.index == 1 %} 
        <td> 

            {{ '<div class="circle" style="float: left;">LB</div>' if row[target_col_num] == 1 else '' }} {{ row_ }}

        </td>
        {% else %}
            
            <td>{{ row_ }}</td>

        {% endif %}

        {% endfor %}
        </tr>
        {% endfor %}
     
    </tbody>
  
</table>

Overwriting template.html

In [ ]:
df = make_data(nrows=5, ncols=6)

In [ ]:
df

    A   B   C   D   E  F
0  A0  A1  A2  A3  A4  1
1  B0  B1  B2  B3  B4  0
2  C0  C1  C2  C3  C4  0
3  D0  D1  D2  D3  D4  0
4  E0  E1  E2  E3  E4  0

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [ ]:
with open('template.html', 'r') as f:
    template = f.read()

In [ ]:
t = Template(template)
output = t.render(
    column_names=df.columns, 
    row_data=df.loc[0].tolist(), 
    target_col_num=5,
    zip=zip,
)

In [ ]:
t = Template("This is {{ fname }}.")

In [ ]:
t.render(fname="Joe")

'This is Joe.'

In [ ]:
from IPython.display import HTML

In [ ]:
HTML(output)